@charset "utf-8";

@import "normalize";

// ***********************
// *** Color Variables *** 
// ***********************

$bg-light: #FFFFFF;
$bg-dark: #121212;
$text-light: #FFFFFF;
$text-dark: #121212;

$btn-dark: #121212;

// **************
// *** Mixins *** 
// **************
 
@mixin box-shadow( $x: 0px, $y: 0px, $blur: 3px, $color: rgba(0,0,0,.15) ) {
	-webkit-box-shadow: $x $y $blur $color;
	-moz-box-shadow: $x $y $blur $color;
	box-shadow: $x $y $blur $color;
}
 
@mixin transition( $property: all, $duration: 1s, $easing: ease ) {
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
	-o-transition: $property $duration $easing;
	transition: $property $duration $easing;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacityIE: $opacity * 100;
	filter: alpha(opacity=$opacityIE);
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


@mixin bp-large {
  @media only screen and (min-width: 2160px) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}


// ******************
// *** Typography *** 
// ******************

$base-font-size: 16px;
$base-line-height: 1.68;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

html{
	font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;
	font-size: $base-font-size;
	line-height: 1.5;
	color: $text-dark;
}

body{
	//overflow: auto;
}

.modal-open{
	overflow: hidden;
}

h1{
	font-size: 56px;
	margin: 0;
	@include bp-small {
		font-size: 32px;
	}
}

h2{
	font-size: 28px;
	margin: 0;
	font-weight: $font-weight-medium;
	@include bp-small {
		font-size: 20px;
	}
}

h3{
	font-size: 24px;
	margin: 0;
	font-weight: $font-weight-medium;
	@include bp-small {
		font-size: 18px;
	}
}
h4{
	font-size: 20px;
	margin: 0;
	font-weight: $font-weight-normal;
	@include bp-small {
		font-size: 16px;
	}
}
h5{
	font-size: 16px;
	margin: 0;
	font-weight: $font-weight-normal;
}
h6{
	font-size: 12px;
	margin: 0;
	font-weight: $font-weight-normal;
}
a{
	color: inherit;
	text-decoration: none;
}

a.textlink{
	position: relative;
	overflow: hidden;
	display: inline-block;
	&:before{
		content:"";
        width: 100%;
        height: 1px;
        background-color: $text-dark;
        position: absolute;
        left: 0;
        bottom: -2px;
        @include opacity(0);
        @include transition( all, 0.3s, ease-in-out);
	}
	&:hover{
		&:before{
			@include opacity(1);
			bottom: 2px;
		}
	}
}

// ******************
// ***   Layout   *** 
// ******************

$zindex-bg: 0;
$zindex-about: 100;
$zindex-main: 200;
$zindex-topnav: 500;
$zindex-modal: 900;
$zindex-modal-content: 1000;

$side-padding: 40px;
$side-padding-sm: 20px;

.button{
	border: 1px solid $btn-dark;
	line-height: 48px;
	font-weight: $font-weight-light;
	padding: 0 50px;
	background-color: transparent;
	outline: none;
	position: relative;
	@include transition( all, 0.3s, ease-in-out);
	&:hover{
		background-color: $btn-dark;
		color: $text-light;
	}
}
.button.appstore{
	padding: 0 40px 0 70px;
	span.icon{
		font-size: 32px;
		margin: 0 8px;
		position: absolute;
		top: 0;
		left: 30px;
	}
}

// ********************
// ***   Animation  *** 
// ********************

@include keyframes(shine) {
   0% {color: rgba(255, 255, 255, .8); text-shadow: 0 0px 15px rgba(0, 0, 0, .9);}
   50% {color: rgba(255, 255, 255, 1); text-shadow: 0 1px 15px rgba(255, 255, 255, .9);}
   100% {color: rgba(255, 255, 255, .8); text-shadow: 0 0px 15px rgba(0, 0, 0, .9);}
}

// ******************
// ***   Global  *** 
// ******************

$top-nav-height: 70px;
$top-nav-height-sm: 50px;

.topnav{
	width: 100%;
	height: $top-nav-height;
	@extend %clearfix;
	position: fixed;
	top: 0px;
	z-index: $zindex-topnav;
	@include bp-small {
		height: $top-nav-height-sm;
	}
	.leftdiv{
		width: 50%;
		height: inherit;
		float: left;
		background-color: $bg-light;
		h3{
			margin-left: $side-padding;
			line-height: $top-nav-height;
			@include bp-small {
				margin-left: $side-padding-sm;
				line-height: $top-nav-height-sm;
			}
		}
	}
	.rightdiv{
		width: 50%;
		height: inherit;
		float: left;
		background-color: $bg-dark;
		color: $text-light;
		nav{
			float: right;
			margin-right: $side-padding;
			a{
				font-weight: $font-weight-light;
				line-height: $top-nav-height;
				margin-left: 40px;
				display: inline-block;
				overflow: hidden;
				position: relative;
				@include opacity(0.8);
				@include transition( all, 0.3s, ease-in-out);
				&:before{
					content:"";
			        width: 100%;
			        height: 1px;
			        background-color: $text-light;
			        position: absolute;
			        left: 0;
			        bottom: 14px;
			        @include opacity(0);
			        @include transition( all, 0.3s, ease-in-out);
				}

				&:hover{
					@include opacity(1);
					&:before{
						@include opacity(1);
						bottom: 20px;
					}
				}
			}
			// a.active{
			// 	&:before{
			// 		@include opacity(100);
			// 		bottom: 24px;
			// 	}
			// }
			@include bp-small {
				display: none;
			}
		}
		h1{
			line-height: $top-nav-height-sm;
			text-align: right;
			padding-right: $side-padding-sm;
			display: none;
			@include bp-small {
				display: block;
			}
		}
	}
}

// ******************
// ***    About   *** 
// ******************

.about{
	width: 100%;
	height: 100vh;
	min-height: 600px;
	@extend %clearfix;
	position: fixed;
	top: 0px;
	z-index: $zindex-about;
	h1{
		margin-top: 20vh;
		font-weight: $font-weight-light;
		line-height: 1.2;
		@include bp-small {
			margin-top: 0;
			position: absolute;
			top: 20%;
			line-height: 1.5;
		}
	}
	p{
		margin-top: 20vh;
		font-weight: $font-weight-light;
		padding: 0 30px;
		@include bp-small {
			display: none;
		}
	}
	h5{
		margin-top: 10vh;
		font-weight: $font-weight-light;
		@include bp-small {
			display: none;
		}
	}
	.leftdiv{
		width: 50%;
		height: inherit;
		min-height: 600px;
		float: left;
		background-color: $bg-light;
		position: relative;
		overflow: hidden;
		img{
			height: 100%;
			min-height: 600px;
			position: absolute;
			z-index: $zindex-bg;
			@include opacity(0.8);
		}
		h1{
			text-align: right;
			padding: 0 30px 0 18px;
			position: relative;
			z-index: $zindex-about;
		}
		p{
			text-align: right;
		}
		h5{
			text-align: right;
		}
	}
	.rightdiv{
		width: 50%;
		height: inherit;
		min-height: 600px;
		float: left;
		background-color: $bg-dark;
		color: $text-light;
		position: relative;
		overflow: hidden;
		img{
			height: 100%;
			min-height: 600px;
			position: absolute;
			right: 0;
			z-index: $zindex-bg;
			@include opacity(0.8);
		}
		h1{
			text-align: left;
			padding-left: 30px;
		}
		p{
			text-align: left;
		}
		h5{
			text-align: left;
		}
	}
	.left-loop{
		margin-right: -55px;
		margin-top: 60px;
		@extend %clearfix;
		@include bp-small {
			margin: 0;
			position: absolute;
			right: -55px;
			top: 60%;
		}
		svg{
			float: right;
		}
		path {
			fill: none;
			stroke: $bg-dark;
			stroke-width: 8px;
		}

		circle {
			fill: $bg-light;
		}
	}
	.right-loop{
		margin-left: -55px;
		margin-top: 60px;
		@extend %clearfix;
		@include bp-small {
			margin: 0;
			position: absolute;
			left: -55px;
			top: 60%;
		}
		svg{
			float: left;
		}
		path {
			fill: none;
			stroke: $bg-light;
			stroke-width: 8px;
		}

		circle {
			stroke-width: 1px;
			stroke:$bg-dark;
			fill: $bg-dark;
		}
	}
}

// ******************
// ***  Porjects  *** 
// ******************

.projects{
	margin-top: 100vh;
	position: relative;
	z-index: $zindex-main;
	ul.projects-list{
		list-style-type: none;
		margin:0;
		padding:0;
		li{
			width: 100%;
			height: 300px;
			color: $text-light;
			cursor: pointer;
			@include bp-small {
				height: 200px;
			}
			h4.org{
				padding: 25px $side-padding;
				text-align: right;
				font-weight: $font-weight-normal;
				@include bp-small {
					padding: 20px $side-padding-sm;
				}
			}
			h1{
				padding-top: 0px;
				text-align: center;
				//@include animation('shine 3s ease 4.5s infinite');
			}
			h4.role{
				padding-top: 20px;
				text-align: center;
				font-weight: $font-weight-light;
				@include bp-small {
					padding-top: 10px;
				}
			}
			&:hover{
				h1{
					@include animation('shine ease 3s infinite');
				}
			}
		}
		li:nth-child(1){
			background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/siq4l.jpg') center 0% no-repeat;
			background-size: 100%;
		}
		li:nth-child(2){
			background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/me.jpg') center 10% no-repeat;
			background-size: 100%;
		}
		li:nth-child(3){
			background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../images/sm.jpg') center 10% no-repeat;
			background-size: 100%;
		}
	}
}

// ************************
// ***  Project Modal   *** 
// ************************

.projects-modal{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	z-index: $zindex-modal;
	background-color: $bg-dark;
	display: none;
	@include opacity(0);
	@include transition( all, 0.3s, ease-in-out);
}
.projects-modal.show{
	@include opacity(0.7);
}

.project-detail-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: $zindex-modal-content;
	display: none;
	.project-detail{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		.leftdiv{
			width: 62.5%;
			height: inherit;
			overflow: auto;
			position: absolute;
			top: 0;
			left: -62.5%;
			@include transition( all, 0.6s, ease);
			ul{
				list-style-type: none;
				padding: 60px $side-padding;
				margin: 0;
				li{
					margin: 0 auto 10px;
					text-align: center;
					img{
						width: 100%;
					}
					img.vertical{
						width: 50%;
					}
				}
			}
			@include bp-small {
				display: none;
			}
		}
		.leftdiv.show{
			left: 0;
		}
		.rightdiv{
			width: 37.5%;
			height: inherit;
			overflow: scroll;
			background-color: $bg-light;
			position: absolute;
			top: 0;
			right: -37.5%;
			@include transition( all, 0.6s, ease);
			h2{
				color: $btn-dark;
				margin: 60px $side-padding 10px;
			}
			h5{
				margin: 0 $side-padding 30px;
			}
			p{
				margin: 10px $side-padding;
				font-weight: $font-weight-light;
				line-height: 2;
			}
			p:first-child{
				padding-bottom: 60px;
			}
			p.button-link{
				padding: 20px 0;
				text-align: left;
			}
			a.button{
				display: inline-block;
			}
			span.close-modal{
				font-size: 56px;
				color: #979797;
				position: absolute;
				top: 0;
				right: $side-padding;
				cursor: pointer;
				&:hover{
					color: $text-dark;
				}
			}
			//For Mobile Image List
			ul{
				display: none;
				list-style-type: none;
				padding: 40px $side-padding;
				margin: 0;
				li{
					margin: 0 auto 10px;
					img{
						width: 100%;
					}
					@include box-shadow;
				}
			}

			@include bp-small {
				width: 100%;
				right: -100%;
				ul{
					display: block;
				}
				p.button-link{
					text-align: center;
				}
			}
		}
		.rightdiv.show{
			right: 0;
		}
		.mobile-scrollable{
			-webkit-overflow-scrolling: touch;
		}
	}
}

// ******************
// ***  Contact   *** 
// ******************

.contact{
	@extend %clearfix;
	position: relative;
	z-index: $zindex-main;
	height: 100%;
	@include bp-small {
		height: auto;
	}
	.leftdiv{
		width: 37.5%;
		height: 100%;
		min-height: 540px;
		float: left;
		background: url('../images/avatar.jpg') center center no-repeat;
		background-size: cover;
		@include bp-small {
			display: none;
		}
		// @include bp-large {
		// 	background-size: 100% auto;
		// }
	}
	.topdiv{
		display: none;
		width: 100%;
		padding: 50px 0;
		background-color: $bg-light;
		.wrapper{
			width: 200px;
			height: 200px;
			margin: auto;
			border-radius: 200px;
			border: 1px solid #979797;
		}
		.avatar{
			width: 180px;
			height: 180px;
			margin: 10px auto;
			border-radius: 180px;
			background: url('../images/avatar.jpg') center center no-repeat;
			background-size: auto 100%;
		}
		@include bp-small {
			display: block;
		}
	}
	.rightdiv{
		width: 62.5%;
		height: auto;
		text-align: center;
		min-height: 500px;
		padding-bottom: 40px;
		float: left;
		background-color: $bg-light;
		position: relative;
		@include bp-small {
			width: 100%;
			float: none;
		}
		p{
			max-width: 640px;
			font-weight: $font-weight-light;
			line-height: 2;
			text-align: left;
			margin: auto;
			padding: 60px 100px 0;
			position: relative;
			&:before{
				content: url('../images/quote.svg');
				position: absolute;
				left: 18px;
			}
			@include bp-small {
				padding: 60px 40px 0;
				&:before{
					left: 50%;
					top: -20px;
					margin-left: -30px;
				}
			}
		}
		.resume{
			display: inline-block;
			margin: 40px auto;
		}
		h5{
			font-weight: $font-weight-light;

			margin: 10px 0;
		}
		h2{
			padding: 15px 0;
			font-size: 32px;
			color: #5A5A5A;
			a{
				margin: 0 15px;
				&:hover{
					color: $bg-dark;
				}
			}
		}
		h6{
			width: 100%;
			position: absolute;
			bottom: 15px;
		}
	}
}