@charset "utf-8";

// ***********************
// *** Color Variables *** 
// ***********************

$bg-light: #FAFAFA;
$bg-dark: #121212;
$text-light: #FFFFFF;
$text-dark: #121212;
$text-gray: #5A5A5A;
$btn-dark: #121212;

// **************
// *** Mixins *** 
// **************

%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin bp-large {
    @media only screen and (min-width: 2160px) {
        @content;
    }
}

@mixin bp-medium {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin bp-small {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin bp-ex-small {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

// ******************
// *** Typography *** 
// ******************

$base-font-size: 16px;
$base-font-size-sm: 14px;
$base-line-height: 1.68;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
* {
    box-sizing: border-box;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    letter-spacing: 0.3px;
    color: $text-dark;
    @include bp-small {
        font-size: $base-font-size-sm;
        letter-spacing: 0.2px;
    }
}

body {
    //overflow: auto;
}

.modal-open {
    overflow: hidden;
}

h1 {
    font-size: 56px;
    margin: 0;
    @include bp-small {
        font-size: 32px;
    }
}

h2 {
    font-size: 28px;
    margin: 0;
    font-weight: $font-weight-medium;
    @include bp-small {
        font-size: 20px;
    }
}

h3 {
    font-size: 24px;
    margin: 0;
    font-weight: $font-weight-medium;
    @include bp-small {
        font-size: 18px;
    }
}

h4 {
    font-size: 20px;
    margin: 0;
    font-weight: $font-weight-normal;
    @include bp-small {
        font-size: 16px;
    }
}

h5 {
    font-size: 16px;
    margin: 0;
    font-weight: $font-weight-normal;
}

h6 {
    font-size: 12px;
    margin: 0;
    font-weight: $font-weight-normal;
}

a {
    color: inherit;
    text-decoration: none;
}

a.textlink {
    position: relative;
    display: inline-block;
    &:before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $text-dark;
        position: absolute;
        left: 0;
        bottom: -4px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        &:before {
            opacity: 1;
            bottom: 0px;
        }
    }
    @include bp-small {
        &:before {
            opacity: 1;
            bottom: 0px;
        }
    }
}

// ******************
// ***   Layout   *** 
// ******************

$zindex-bg: 0;
$zindex-home: 100;
$zindex-main: 200;
$zindex-topnav: 500;
$zindex-modal: 900;
$zindex-modal-content: 1000;
$zindex-modal-nav: 1100;
$side-padding: 40px;
$side-padding-sm: 24px;
.button {
    border: 1px solid $btn-dark;
    line-height: 48px;
    font-weight: $font-weight-light;
    padding: 0 50px;
    background-color: transparent;
    outline: none;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $btn-dark;
        color: $text-light;
    }
}

.button.appstore {
    padding: 0 40px 0 70px;
    span.icon {
        font-size: 32px;
        margin: 0 8px;
        position: absolute;
        top: 0;
        left: 30px;
    }
}

//Common section header styles
.section-header {
    padding: 80px 0;
    text-align: center;
    .section-icon {
        width: 96px;
        height: 96px;
        line-height: 96px;
        font-size: 60px;
        margin: 0 auto;
        border: 2px solid $text-dark;
        border-radius: 50%;
        @include bp-ex-small {
            width: 80px;
            height: 80px;
            line-height: 80px;
            font-size: 48px;
        }
    }
    .section-description {
        width: 80%;
        max-width: 1152px;
        font-weight: $font-weight-light;
        line-height: 2;
        margin: 40px auto 0;
        position: relative;
        &:before {
            font-size: 40px;
            position: absolute;
            left: -50px;
        }
        @include bp-small {
            width: auto;
            margin: 40px #{$side-padding + 50px} 0;
        }
        @include bp-ex-small {
            margin: 40px $side-padding-sm 0;
            &:before {
                display: none;
            }
        }
    }
}

// ********************
// ***   Animation  *** 
// ********************

@keyframes shine {
    0% {
        color: rgba(255, 255, 255, .8);
        text-shadow: 0 0px 15px rgba(0, 0, 0, .9);
    }
    50% {
        color: rgba(255, 255, 255, 1);
        text-shadow: 0 1px 15px rgba(255, 255, 255, .9);
    }
    100% {
        color: rgba(255, 255, 255, .8);
        text-shadow: 0 0px 15px rgba(0, 0, 0, .9);
    }
}

// ******************
// ***   Global  *** 
// ******************

$top-nav-height: 70px;
$top-nav-height-sm: 50px;
.topnav {
    width: 100%;
    height: $top-nav-height;
    @extend %clearfix;
    top: 0px;
    @include bp-small {
        height: $top-nav-height-sm;
    }
    .leftdiv {
        width: 50%;
        height: inherit;
        float: left;
        background-color: $bg-light;
        display: flex;
        align-items: center;
        .logo {
            width: 36px;
            height: 36px;
            display: inline-block;
            margin: 0 15px 0 $side-padding;
            fill: $bg-dark;
            @include bp-small {
                width: 24px;
                height: 24px;
                margin: 0 10px 0 $side-padding-sm;
            }
        }
        h3 {
            line-height: $top-nav-height;
            display: inline-block;
            span {
                font-weight: $font-weight-light;
            }
            @include bp-small {
                line-height: $top-nav-height-sm;
            }
        }
    }
    .rightdiv {
        width: 50%;
        height: inherit;
        float: left;
        background-color: $bg-dark;
        color: $text-light;
        nav {
            float: right;
            margin-right: $side-padding;
            a {
                font-weight: $font-weight-light;
                line-height: $top-nav-height;
                margin-left: 30px;
                display: inline-block;
                overflow: hidden;
                position: relative;
                opacity: 0.8;
                transition: all 0.3s ease-in-out;
                &:before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $text-light;
                    position: absolute;
                    left: 0;
                    bottom: 14px;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
                &:hover {
                    opacity: 1;
                    &:before {
                        opacity: 1;
                        bottom: 20px;
                    }
                }
            } // a.active{
            // 	&:before{
            // 		opacity: 1;
            // 		bottom: 24px;
            // 	}
            // }
            @include bp-small {
                display: none;
            }
        }
        a.icon {
            font-size: 32px;
            line-height: $top-nav-height-sm;
            float: right;
            padding: 0 $side-padding-sm;
            display: none;
            @include bp-small {
                display: inline-block;
            }
        }
    }
}

// ******************
// ***    Home   *** 
// ******************

.home {
    width: 100%;
    height: calc(100vh - #{$top-nav-height});
    min-height: 600px;
    @extend %clearfix;
    @include bp-small {
        height: calc(100vh - #{$top-nav-height-sm});
    }
    h1 {
        margin-top: 20vh;
        font-weight: $font-weight-light;
        line-height: 1.2;
        @include bp-small {
            margin-top: 0;
            position: absolute;
            top: 20%;
            line-height: 1.5;
        }
    }
    p {
        margin-top: 20vh;
        font-weight: $font-weight-light;
        padding: 0 30px;
        @include bp-small {
            display: none;
        }
    }
    h5 {
        margin-top: 10vh;
        font-weight: $font-weight-light;
        @include bp-small {
            display: none;
        }
    }
    .leftdiv {
        width: 50%;
        height: inherit;
        min-height: 600px;
        float: left;
        background-color: $bg-light;
        position: relative;
        overflow: hidden;
        img {
            height: 100%;
            min-height: 600px;
            position: absolute;
            z-index: $zindex-bg;
            opacity: 0.8;
        }
        h1 {
            text-align: right;
            padding: 0 30px 0 18px;
            position: relative;
            z-index: $zindex-home;
        }
        p {
            text-align: right;
        }
        h5 {
            text-align: right;
        }
    }
    .rightdiv {
        width: 50%;
        height: inherit;
        min-height: 600px;
        float: left;
        background-color: $bg-dark;
        color: $text-light;
        position: relative;
        overflow: hidden;
        img {
            height: 100%;
            min-height: 600px;
            position: absolute;
            right: 0;
            z-index: $zindex-bg;
            opacity: 0.8;
        }
        h1 {
            text-align: left;
            padding-left: 30px;
        }
        p {
            text-align: left;
        }
        h5 {
            text-align: left;
        }
    }
    .left-loop {
        margin-right: -55px;
        margin-top: 60px;
        @extend %clearfix;
        @include bp-small {
            margin: 0;
            position: absolute;
            right: -55px;
            top: 60%;
        }
        svg {
            float: right;
        }
        path {
            fill: none;
            stroke: $bg-dark;
            stroke-width: 8px;
        }
        circle {
            fill: $bg-light;
        }
    }
    .right-loop {
        margin-left: -55px;
        margin-top: 60px;
        @extend %clearfix;
        @include bp-small {
            margin: 0;
            position: absolute;
            left: -55px;
            top: 60%;
        }
        svg {
            float: left;
        }
        path {
            fill: none;
            stroke: $bg-light;
            stroke-width: 8px;
        }
        circle {
            stroke-width: 1px;
            stroke: $bg-dark;
            fill: $bg-dark;
        }
    }
}

// ******************
// ***  Projects  *** 
// ******************

.projects {
    position: relative;
    z-index: $zindex-main;
}

.project-pages-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-page {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: white;
    position: relative;
    top: 0;
    transition: all 0.4s ease-in-out 0.1s;
    @include bp-small {
        height: 200px;
    }
    .project-header {
        height: 400px;
        @include bp-small {
            height: 200px;
        }
        .header-nav {
            width: 100%;
            height: $top-nav-height;
            display: flex;
            align-items: center;
            position: relative;
            top: 0;
            transform: translateY(-#{$top-nav-height});
            opacity: 0;
            transition: transform 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s;
            @include bp-small {
                height: $top-nav-height-sm;
                transform: translateY(-#{$top-nav-height-sm});
            }
            .logo {
                width: 36px;
                height: 36px;
                display: inline-block;
                margin: 0 15px 0 $side-padding;
                fill: $text-light;
                ;
                @include bp-small {
                    width: 24px;
                    height: 24px;
                    margin: 0 10px 0 $side-padding-sm;
                }
            }
            h3 {
                line-height: $top-nav-height;
                display: inline-block;
                color: $text-light;
                span {
                    font-weight: $font-weight-light;
                }
                @include bp-small {
                    line-height: $top-nav-height-sm;
                }
            }
            span.close-page {
                font-size: 56px;
                color: $text-light;
                cursor: pointer;
                line-height: 70px;
                position: absolute;
                right: $side-padding;
                @include bp-small {
                    font-size: 44px;
                    right: $side-padding-sm;
                }
            }
        }
        .header-nav.sticky-nav {
            position: fixed;
            z-index: $zindex-modal-nav;
            top: -$top-nav-height;
            background-color: rgba(255, 255, 255, .9);
            box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
            .logo {
                fill: $text-dark;
            }
            h3 {
                color: $text-dark;
            }
            span.close-page {
                color: $text-dark;
            }
            &.up {
                top: -$top-nav-height;
                transition: top 0.2s ease-in-out;
            }
            &.down {
                top: 0;
                transition: top 0.2s ease-in-out;
            }
        }
        .header-content {
            color: $text-light;
            cursor: pointer;
            height: 300px;
            transform: translateY(-#{$top-nav-height});
            opacity: 1;
            transition: all 0.4s ease-in-out 0.1s;
            @include bp-small {
                height: 200px;
                transform: translateY(-#{$top-nav-height-sm});
            }
            h4.org {
                padding: 25px $side-padding;
                text-align: right;
                font-weight: $font-weight-normal;
                @include bp-small {
                    padding: 20px $side-padding-sm;
                }
            }
            h1 {
                padding-top: 0px;
                text-align: center;
            }
            h4.role {
                padding-top: 20px;
                text-align: center;
                font-weight: $font-weight-light;
                @include bp-small {
                    padding-top: 10px;
                }
            }
            &:hover {
                h1 {
                    animation: shine ease 3s infinite;
                }
            }
        }
    }
    .project-content {
        transform: translateY(#{$top-nav-height});
        opacity: 0;
        transition: all 0.4s ease-in-out 0.1s;
        @include bp-small {
            transform: translateY(#{$top-nav-height-sm});
        }
        h1 {
            text-align: center;
            padding-top: 80px;
        }
        h3.subtitle {
            font-weight: $font-weight-light;
            font-style: italic;
            text-align: center;
        }
        section {
            padding: 60px 15%;
            @include bp-medium {
                padding: 60px 10%;
            }
            @include bp-small {
                padding: 50px $side-padding;
            }
            @include bp-ex-small {
                padding: 40px $side-padding-sm;
            }
            h2 {
                font-size: 2rem;
                text-align: center;
                margin-bottom: 40px;
            }
            h3 {
                font-weight: $font-weight-normal;
                margin: 0 0 2rem;
            }
            p {
                font-weight: $font-weight-light;
                margin: 0 0 2rem;
            }
            .centered-text {
                text-align: center;
            }
            .multimedia {
                width: 80%;
                margin: auto;
                padding: 20px 0;
                @include bp-ex-small {
                    width: 100%;
                }
                .video-wrapper {
                    width: 100%;
                    position: relative;
                    margin: 0 auto;
                    padding-bottom: 56.28%;
                    height: 0;
                    iframe {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                }
                h6 {
                    margin-top: 20px;
                    text-align: center;
                    font-weight: $font-weight-bold;
                }
                img {
                    width: 100%;
                }
            }
            .multimedia-group {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-between;
                margin: -1rem;
                img {
                    width: 50%;
                    padding: 1rem;
                }
                @include bp-ex-small {
                    margin: -0.5rem;
                    img {
                        padding: 0.5rem;
                    }
                }
            }
            .multimedia-slider {
                width: 80%;
                margin: auto;
                @include bp-ex-small {
                    width: 100%;
                }
                .slider-contents {
                    &>img {
                        width: 100%;
                    }
                }
                ul.slick-dots {
                    list-style-type: none;
                    padding: 0;
                    text-align: center;
                    margin: 20px 0;
                    li {
                        display: inline-block;
                        margin: 0 5px;
                        button {
                            font-size: 0;
                            line-height: 0;
                            color: transparent;
                            display: block;
                            width: 36px;
                            height: 20px;
                            position: relative;
                            padding: 0;
                            outline: none;
                            border: none;
                            background-color: inherit;
                            &:before {
                                content: '';
                                width: 100%;
                                height: 4px;
                                background-color: #D8D8D8;
                                position: absolute;
                                left: 0px;
                                top: 8px;
                                transition: all 0.3s ease-in-out;
                            }
                            @include bp-small {
                                width: 6px;
                                height: 6px;
                                &:before {
                                    width: 6px;
                                    height: 6px;
                                    border-radius: 50%;
                                    left: 0;
                                    top: 0;
                                }
                            }
                        }
                        button:hover {
                            &:before {
                                background-color: rgba($bg-dark, .6);
                            }
                        }
                    }
                    li.slick-active {
                        button:before {
                            background-color: $bg-dark;
                        }
                        button:hover {
                            &:before {
                                background-color: $bg-dark;
                            }
                        }
                    }
                }
            }
            .imac-slider {
                position: relative;
                .slick-list {
                    padding: 3.5% 3.7%;
                }
                ul.slick-dots {
                    margin: 20% 0 20px;
                }
                .imac-frame {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
			}
			.center-slider{
				width: 90%;
				padding-top: 2rem;
				@include bp-small{
					width: 100%;
				}
				.slick-list{
					img{
						opacity: 0.6;
						transition: all 0.5s ease-in-out;
						transform: scale(0.95);
						@include bp-ex-small{
							transform: scale(0.9);
						}
					}
					img.slick-center{
						opacity: 1;
						transform: scale(1);
					}
				}
			}
			.mobile-slider{
				width: 100%;
				.slick-list{
					img{
						margin: 0.5rem;
						opacity: 0.6;
						transition: all 0.5s ease-in-out;
						transform: scale(0.9);
					}
					img.slick-center{
						opacity: 1;
						transform: scale(1);
					}
				}
			}
            .quote {
                width: 80%;
                margin: auto;
                border-left: 8px solid #4A90E2;
                padding: 10px 40px;
                @include bp-ex-small {
                    width: 100%;
                    padding: 10px 20px;
                }
                p {
                    margin: 0;
                }
            }
        }
        section:nth-child(even) {
            background-color: #FBFBFB;
        }
    }
}

.project-page:nth-child(1) .project-header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/siq4l.jpg') center 0% no-repeat;
    background-size: 100%;
}

.project-page:nth-child(2) .project-header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/me.jpg') center 10% no-repeat;
    background-size: 100%;
}

.project-page:nth-child(3) .project-header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/sm.jpg') center 10% no-repeat;
    background-size: 100%;
}

.project-page.open {
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: $zindex-modal;
    .project-header {
        .header-nav {
            //display: flex;
            opacity: 1;
            transform: translateY(0);
        }
        .header-content {
            //display: none;
            opacity: 0;
            transform: translateY(0);
        }
    }
    .project-content {
        opacity: 1;
        transform: translateY(0);
    }
}

// *********************
// ***  Photograph   *** 
// *********************

.photograph {
    position: relative;
    z-index: $zindex-main;
    .gallery {
        width: 100%;
        padding: 0 $side-padding;
        column-count: 3;
        column-gap: $side-padding;
        figure {
            break-inside: avoid;
            margin: 0;
            img {
                width: 100%;
            }
            figcaption {
                text-align: center;
                padding: 10px 0 30px;
                h5 {
                    font-size: 1em;
                }
                h6 {
                    font-size: 0.75em;
                    color: $text-gray;
                    font-style: italic;
                    font-weight: $font-weight-light;
                }
            }
        }
        @include bp-small {
            column-count: 2;
            figure {
                &:last-child {
                    display: none;
                }
            }
        }
        @include bp-ex-small {
            padding: 0 $side-padding-sm;
            column-gap: $side-padding-sm;
        }
    }
    .see-more {
        text-align: center;
        margin: 0;
        a {
            font-size: 14px;
            font-weight: $font-weight-light;
            display: inline-block;
            position: relative;
            &:after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: $text-dark;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}

// ******************
// ***  About   *** 
// ******************

.about {
    position: relative;
    z-index: $zindex-main;
    .section-header {
        .section-icon {
            font-size: 70px;
        }
    }
    .section-content {
        @extend %clearfix;
        height: 100%;
        @include bp-small {
            height: auto;
        }
    }
    .leftdiv {
        width: 37.5%;
        height: 100%;
        min-height: 540px;
        float: left;
        background: url('../images/avatar.jpg') center center no-repeat;
        background-size: cover;
        @include bp-medium {
            display: none;
        } // @include bp-large {
        // 	background-size: 100% auto;
        // }
    }
    .topdiv {
        display: none;
        width: 100%;
        padding: 80px 0 60px;
        background-color: $bg-light;
        .wrapper {
            width: 30%;
            min-width: 200px;
            padding-top: 30%;
            min-height: 200px;
            margin: auto;
            border: 1px solid #979797;
            position: relative;
            border-radius: 50%;
        }
        .avatar {
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 10px;
            background: url('../images/avatar.jpg') center center no-repeat;
            background-size: auto 100%;
        }
        @include bp-medium {
            display: block;
        }
    }
    .rightdiv {
        width: 62.5%;
        height: auto;
        text-align: center;
        min-height: 500px;
        padding: 40px 0;
        float: left;
        background-color: $bg-light;
        position: relative;
        @include bp-medium {
            width: 100%;
            float: none;
            padding: 0;
        }
        p {
            font-weight: $font-weight-light;
            line-height: 2;
            text-align: left;
            padding: 10px 60px;
            margin: 0;
            position: relative;
            @include bp-medium {
                padding: 10px $side-padding;
            }
            @include bp-ex-small {
                padding: 10px $side-padding-sm;
            }
        }
        .resume {
            padding: 40px 60px 20px;
            @include bp-medium {
                text-align: center;
                padding: 40px 60px 80px;
            }
        }
    }
    .section-footer {
        padding: 60px;
        text-align: center;
        h3 {
            display: inline-block;
            padding: 15px 30px;
            font-weight: $font-weight-normal;
            text-transform: uppercase;
            border-bottom: 1px solid $text-dark;
            &:before {
                font-size: 40px;
                margin-right: 20px;
                position: relative;
                top: 5px;
            }
        }
        h5 {
            font-weight: $font-weight-light;
            margin: 15px 0;
        }
        h2 {
            padding: 15px 0;
            font-size: 32px;
            color: $text-gray;
            a {
                margin: 0 15px;
                &:hover {
                    color: $bg-dark;
                }
            }
        }
        h6 {
            width: 100%;
            position: absolute;
            bottom: 15px;
        }
    }
}

// ******************
// ***  Footer   *** 
// ******************

footer.page-footer {
    padding: 20px;
    p {
        color: $text-gray;
        font-size: 12px;
        margin: 0;
        line-height: 30px;
    }
    .logo {
        width: 30px;
        height: 30px;
        display: inline-block;
        fill: $text-gray;
        float: right;
    }
    @include bp-ex-small {
        p {
            text-align: center;
        }
        .logo {
            display: none;
        }
    }
}